{% extends "base.html" %}

{% block header %}
	<h2>About Page</h2>
{% endblock header%}

{% block content %}
	<p><big>Developed by Rutuparn Pawar (InputBlackBoxOutput)</big></p>
	<div>
	<p> 
	<big>Software License Agreement:</big> <br>

    This program is free software: you can redistribute it and/or modify  <br>
    it under the terms of the GNU General Public License as published     <br>
    by the Free Software Foundation, either version 3 of the License, or  <br>
    (at your option) any later version. 								  <br>
    																	  <br>
    This program is distributed in the hope that it will be useful, but   <br> 
    WITHOUT ANY WARRANTY; without even the implied warranty of            <br>
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See             <br>
    the GNU General Public License for more details.                      <br>
                                                                          <br>
    You should have received a copy of the GNU General Public License     <br>
    along with this program.  If not, see <a href='https://www.gnu.org/licenses/'>.<br>
	</p>
	</div>
	<a href={{ url_for('home') }}>Home</a>
{% endblock content%}
