<!-- HTML layout File for basic routes -->
<!DOCTYPE html>
<html>
<head>
	{% if title %}
		<title> Electron Wizard - {{title}}</title>
	{% else %}
		<title>Electron Wizard</title>
	{% endif %}
	
	<link rel="stylesheet" type="text/css" href="static/all.css">
</head>

<body>
	<header>
		{%block header%}
		{%endblock header%}
	</header>
	<main>
		<div>
			{%block content%}
		    {%endblock content%}
		</div>
	</main>
	<footer>
		<div>
			<p>Developed by InputBlackBoxOutput</p>
		</div>
	</footer>
</body>
</html>