<!-- HTML layout File for calculator routes -->
<!DOCTYPE html>
<html>
<head>
	{% if title %}
		<title>{{title}}</title>
	{% else %}
		<title>Electron Wizard</title>
	{% endif %}
	
	<link rel="stylesheet" type="text/css" href="static/all.css">
	<style>
		#leftdiv  { float: left  }
		#rightdiv { float: left }

		#spacer  { float: left }
	</style>
</head>

<body>
	<header>
		{%block header%}
		{%endblock header%}
	</header>
	<main>

		<div id="leftdiv">
			{%block info%}
			{%endblock info%}
		</div>

		<div id="spacer">
			<img src="static/spacer.jpg">
		</div>

		<div id="rightdiv">
			<form method="POST" action="">
				{{form.hidden_tag()}}
				
					{%block fields%}
					{%endblock fields%}

				<br><br>
				<input type=submit>
			</form>			
			<br>	
			
			{% if result%}
				<h3>{{ result }}<h3>
			{% endif %}

			<a href={{ url_for('home') }}>Home</a>
		</div>
	</main>
	<footer>
		{% if posts %}
			<p>{{posts}}</p>
		{% endif%}
	</footer>
</body>
</html>