{% extends "base.html" %}

{% block header %}
	<h2>Electron Wizard</h2>
{% endblock header%}


{% block content %}
<ul>
	<li> <a href={{ url_for('Ohms_Law') }}> Ohms Law </a> </li>
	<li> <a href={{ url_for('Resistor_Colour_Code') }}> Resistor Value via Colour Code </a> </li>
	<li> <a href={{ url_for('Resistor_Series_Parallel') }}> Resistors in Series/Parallel </a> </li>
	<li> <a href={{ url_for('SMD_Code') }}> SMD Component Value </a> </li>
	<li> <a href={{ url_for('Voltage_Divider') }}> Voltage Divider </a> </li>
	<li> <a href={{ url_for('LED_Resistor') }}> LED Current Limiting Resistor </a> </li>
	<li> <a href={{ url_for('Power_Dissipated') }}> Power Dissipated by Resistor </a> </li>
	<li> <a href={{ url_for('about') }}>About</a> </li>
<ul>
{% endblock content%}

