{% extends "base.html"%}

{% block header %}
	<h1>Resistors in Series/Parallel</h1>
{% endblock header %}

{% block content %}
	<div>
		<form method="POST" action="">
			{{form.hidden_tag()}}
			{{form.Rone.label()}}
			{{form.Rone()}}
	
			<br><br>
			{{form.Rtwo.label()}}
			{{form.Rtwo()}}
			
			<br><br>
			<input type=submit>
		</form>	
	</div>

	{% if result%}
		<h1>{{ result }}<h1>
	{% endif %}

	<br><br>
	<a href={{ url_for('home') }}>Home</a>
{% endblock content %}
	
