{% extends "cal_base.html"%}

{%block header %}
	<h1>Resistor Voltage Divider</h1>
{%endblock header %}

{%block fields%}

	{{ form.Vin.label }} 
	{{ form.Vin }}
	{{form.unitV1.label}}
	{{form.unitV1}}

	<br><br>
	{{ form.Vout.label }} 
	{{ form.Vout }} 
	{{form.unitV2.label}}
	{{form.unitV2}}

	<br><br>
	{{ form.R1.label }} 
	{{ form.R1 }}
	{{form.unitR1.label}}
	{{form.unitR1}}

	<br><br>
	{{ form.R2.label }}
	{{ form.R2 }}
	{{form.unitR2.label}}
	{{form.unitR2}}

	<br><br>
	{{ form.Rload.label }} 
	{{ form.Rload }}
	{{form.unitRl.label}}
	{{form.unitRl}}	

{%endblock fields%}


{%block info%}
	<img src="static/vlgdiv.jpg">
{%endblock info%}